{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock %}


{% block content %}
{{ content }}
This is the cart




<script>
    $(document).ready(function() {
        $('.qnt').change(function() {
            quantity = $(this).val()
            price = $(this).parent().prev().html()
            id = $(this).attr('cartid')

            $.ajax({
                url: "cart/updatecart/",
                method: POST,
                data: { 
                    'qnt' : quantity, 
                    'price': price,
                    'cid' : id,
                    'csrfmiddlewaretoken': '{{csrf_token}}'

                },
                success : function (response) {
                    $("#totalprice" + id).val(response.totalprice);
                    $("#totalamount").val(response.totalam);  
                },
                error:  function() {

                }
            })
        })
    })
</script>
{% endblock %}